In [3]:
from core.connection import get_session, save_on_database, get_from_database
from core.config import settings
from pyspark.sql import SparkSession
from pyspark.sql import DataFrame
import pyspark.sql.functions as F
import pyspark.sql.types as T

spark: SparkSession = get_session()

## ðŸ¥‰ Bronze Layer

### Load data from csv

In [4]:
data: DataFrame = spark.read.csv(
    f"{settings.BASE_DIR / 'data_csv' / 'survey_results_public.csv'}",
    sep=",",
    header=True,
    inferSchema=True,
)

data.show(5)

24/06/24 20:58:36 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+----------+-----+----------+--------------+--------------+------------------+--------------------+--------------------+--------------------+--------------------+----------------+---------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+---------------------+---------------------+---------------------+---------------------+---------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------------+--------------------+------+----------+---------------+--------------+--------------------+-------------------+--------------------+--------------------+-----------------+--------------------+--------------+--------------+--------------------+--------------------+----------------------+--------------------+----------------------+--------------------+----------------------+-------------------+-----------------------+--------------------+---------------+--------------+--------------------+-----------------+--------------------+---------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+----------------------+--------------------+-----------------------+------------------------+--------------------+---------------------+--------------------------+---------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+--------------------+------+--------------------+--------------------+--------------------+-----------------+----------+----------+--------------------+-------------+
|Respondent|Hobby|OpenSource|       Country|       Student|        Employment|     FormalEducation|      UndergradMajor|         CompanySize|             DevType|     YearsCoding|YearsCodingProf|     JobSatisfaction|  CareerSatisfaction|       HopeFiveYears|     JobSearchStatus|          LastNewJob|AssessJob1|AssessJob2|AssessJob3|AssessJob4|AssessJob5|AssessJob6|AssessJob7|AssessJob8|AssessJob9|AssessJob10|AssessBenefits1|AssessBenefits2|AssessBenefits3|AssessBenefits4|AssessBenefits5|AssessBenefits6|AssessBenefits7|AssessBenefits8|AssessBenefits9|AssessBenefits10|AssessBenefits11|JobContactPriorities1|JobContactPriorities2|JobContactPriorities3|JobContactPriorities4|JobContactPriorities5|JobEmailPriorities1|JobEmailPriorities2|JobEmailPriorities3|JobEmailPriorities4|JobEmailPriorities5|JobEmailPriorities6|JobEmailPriorities7|            UpdateCV|            Currency|Salary|SalaryType|ConvertedSalary|CurrencySymbol|  CommunicationTools|TimeFullyProductive|      EducationTypes|     SelfTaughtTypes|TimeAfterBootcamp|    HackathonReasons|AgreeDisagree1|AgreeDisagree2|      AgreeDisagree3|  LanguageWorkedWith|LanguageDesireNextYear|  DatabaseWorkedWith|DatabaseDesireNextYear|  PlatformWorkedWith|PlatformDesireNextYear|FrameworkWorkedWith|FrameworkDesireNextYear|                 IDE|OperatingSystem|NumberMonitors|         Methodology|   VersionControl|         CheckInCode|AdBlocker|AdBlockerDisable|    AdBlockerReasons|   AdsAgreeDisagree1|   AdsAgreeDisagree2|   AdsAgreeDisagree3|          AdsActions|AdsPriorities1|AdsPriorities2|AdsPriorities3|AdsPriorities4|AdsPriorities5|AdsPriorities6|AdsPriorities7|         AIDangerous|       AIInteresting|       AIResponsible|            AIFuture|        EthicsChoice|        EthicsReport|   EthicsResponsible|EthicalImplications|StackOverflowRecommend|  StackOverflowVisit|StackOverflowHasAccount|StackOverflowParticipate|   StackOverflowJobs|StackOverflowDevStory|StackOverflowJobsRecommend|StackOverflowConsiderMember|  HypotheticalTools1|  HypotheticalTools2|  HypotheticalTools3|  HypotheticalTools4|  HypotheticalTools5|            WakeTime|HoursComputer|        HoursOutside|           SkipMeals|    ErgonomicDevices|            Exercise|Gender|   SexualOrientation|    EducationParents|       RaceEthnicity|              Age|Dependents|MilitaryUS|       SurveyTooLong|   SurveyEasy|
+----------+-----+----------+--------------+--------------+------------------+--------------------+--------------------+--------------------+--------------------+----------------+---------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+----------+----------+----------+----------+----------+----------+----------+----------+-----------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+---------------------+---------------------+---------------------+---------------------+---------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------------+--------------------+------+----------+---------------+--------------+--------------------+-------------------+--------------------+--------------------+-----------------+--------------------+--------------+--------------+--------------------+--------------------+----------------------+--------------------+----------------------+--------------------+----------------------+-------------------+-----------------------+--------------------+---------------+--------------+--------------------+-----------------+--------------------+---------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+----------------------+--------------------+-----------------------+------------------------+--------------------+---------------------+--------------------------+---------------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+--------------------+--------------------+--------------------+------+--------------------+--------------------+--------------------+-----------------+----------+----------+--------------------+-------------+
|         1|  Yes|        No|         Kenya|            No|Employed part-time|Bachelorâ€™s degree...|Mathematics or st...|  20 to 99 employees|Full-stack developer|       3-5 years|      3-5 years| Extremely satisfied| Extremely satisfied|Working as a foun...|Iâ€™m not actively ...|Less than a year ago|        10|         7|         8|         1|         2|         5|         3|         4|         9|          6|             NA|             NA|             NA|             NA|             NA|             NA|             NA|             NA|             NA|              NA|              NA|                    3|                    1|                    4|                    2|                    5|                  5|                  6|                  7|                  2|                  1|                  4|                  3|My job status or ...|                  NA|    NA|   Monthly|             NA|           KES|               Slack|One to three months|Taught yourself a...|The official docu...|               NA|To build my profe...|Strongly agree|Strongly agree|Neither Agree nor...|JavaScript;Python...|  JavaScript;Python...|Redis;SQL Server;...|  Redis;SQL Server;...|AWS;Azure;Linux;F...|  AWS;Azure;Linux;F...|       Django;React|           Django;React|Komodo;Vim;Visual...|    Linux-based|             1|         Agile;Scrum|              Git|Multiple times pe...|      Yes|              No|                  NA|      Strongly agree|      Strongly agree|      Strongly agree|Saw an online adv...|             1|             5|             4|             7|             2|             6|             3|"Artificial intel...|Algorithms making...|The developers or...|I'm excited about...|                  No|   Yes, and publicly|Upper management ...|                Yes|      10 (Very Likely)|Multiple times pe...|                    Yes|    I have never part...|No, I knew that S...|                  Yes|                        NA|                        Yes|Extremely interested|Extremely interested|Extremely interested|Extremely interested|Extremely interested|Between 5:00 - 6:...| 9 - 12 hours|         1 - 2 hours|               Never|       Standing desk|3 - 4 times per week|  Male|Straight or heter...|Bachelorâ€™s degree...|Black or of Afric...|25 - 34 years old|       Yes|        NA|The survey was an...|    Very easy|
|         3|  Yes|       Yes|United Kingdom|            No|Employed full-time|Bachelorâ€™s degree...|A natural science...|10,000 or more em...|Database administ...|30 or more years|    18-20 years|Moderately dissat...|Neither satisfied...|Working in a diff...|I am actively loo...|More than 4 years...|         1|         7|        10|         8|         2|         5|         4|         3|         6|          9|              1|              5|              3|              7|             10|              4|             11|              9|              6|               2|               8|                    3|                    1|                    5|                    2|                    4|                  1|                  3|                  4|                  5|                  2|                  6|                  7|I saw an employer...|British pounds st...| 51000|    Yearly|          70841|           GBP|Confluence;Office...|One to three months|Taught yourself a...|The official docu...|               NA|                  NA|         Agree|         Agree|Neither Agree nor...|JavaScript;Python...|             Go;Python|Redis;PostgreSQL;...|            PostgreSQL|               Linux|                 Linux|             Django|                  React|IPython / Jupyter...|    Linux-based|             2|                  NA|   Git;Subversion|A few times per week|      Yes|             Yes|The website I was...|      Somewhat agree|Neither agree nor...|Neither agree nor...|                  NA|             3|             5|             1|             4|             6|             7|             2|Increasing automa...|Increasing automa...|The developers or...|I'm excited about...|Depends on what i...|Depends on what i...|Upper management ...|                Yes|      10 (Very Likely)|A few times per m...|                    Yes|    A few times per m...|                 Yes| No, I have one bu...|                         7|                        Yes|A little bit inte...|A little bit inte...|A little bit inte...|A little bit inte...|A little bit inte...|Between 6:01 - 7:...|  5 - 8 hours|     30 - 59 minutes|               Never|Ergonomic keyboar...|Daily or almost e...|  Male|Straight or heter...|Bachelorâ€™s degree...|White or of Europ...|35 - 44 years old|       Yes|        NA|The survey was an...|Somewhat easy|
|         4|  Yes|       Yes| United States|            No|Employed full-time|    Associate degree|Computer science,...|  20 to 99 employees|Engineering manag...|     24-26 years|      6-8 years|Moderately satisfied|Moderately satisfied|Working as a foun...|Iâ€™m not actively ...|Less than a year ago|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|         NA|             NA|             NA|             NA|             NA|             NA|             NA|             NA|             NA|             NA|              NA|              NA|                   NA|                   NA|                   NA|                   NA|                   NA|                 NA|                 NA|                 NA|                 NA|                 NA|                 NA|                 NA|                  NA|                  NA|    NA|        NA|             NA|            NA|                  NA|                 NA|                  NA|                  NA|               NA|                  NA|            NA|            NA|                  NA|                  NA|                    NA|                  NA|                    NA|                  NA|                    NA|                 NA|                     NA|                  NA|             NA|            NA|                  NA|               NA|                  NA|       NA|              NA|                  NA|                  NA|                  NA|                  NA|                  NA|            NA|            NA|            NA|            NA|            NA|            NA|            NA|                  NA|                  NA|                  NA|                  NA|                  NA|                  NA|                  NA|                 NA|                    NA|                  NA|                     NA|                      NA|                  NA|                   NA|                        NA|                         NA|                  NA|                  NA|                  NA|                  NA|                  NA|                  NA|           NA|                  NA|                  NA|                  NA|                  NA|    NA|                  NA|                  NA|                  NA|               NA|        NA|        NA|                  NA|           NA|
|         5|   No|        No| United States|            No|Employed full-time|Bachelorâ€™s degree...|Computer science,...|100 to 499 employees|Full-stack developer|     18-20 years|    12-14 years|Neither satisfied...|Slightly dissatis...|Working as a foun...|Iâ€™m not actively ...|Less than a year ago|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|        NA|         NA|             NA|             NA|             NA|             NA|             NA|             NA|             NA|             NA|             NA|              NA|              NA|                   NA|                   NA|                   NA|                   NA|                   NA|                 NA|                 NA|                 NA|                 NA|                 NA|                 NA|                 NA|A recruiter conta...|    U.S. dollars ($)|    NA|        NA|             NA|            NA|                  NA|Three to six months|Completed an indu...|The official docu...|               NA|                  NA|      Disagree|      Disagree|   Strongly disagree|C#;JavaScript;SQL...|  C#;JavaScript;SQL...|SQL Server;Micros...|  SQL Server;Micros...|               Azure|                 Azure|                 NA|   Angular;.NET Core...|Visual Studio;Vis...|        Windows|             2|  Agile;Kanban;Scrum|              Git|Multiple times pe...|      Yes|             Yes|The ad-blocking s...|Neither agree nor...|      Somewhat agree|      Somewhat agree|Stopped going to ...|            NA|            NA|            NA|            NA|            NA|            NA|            NA|"Artificial intel...|"Artificial intel...|A governmental or...|I don't care abou...|                  No|Yes, but only wit...|Upper management ...|                Yes|      10 (Very Likely)|A few times per week|                    Yes|    A few times per m...|                 Yes| No, I have one bu...|                         8|                        Yes| Somewhat interested| Somewhat interested| Somewhat interested| Somewhat interested| Somewhat interested|Between 6:01 - 7:...| 9 - 12 hours|Less than 30 minutes|3 - 4 times per week|                  NA|I don't typically...|  Male|Straight or heter...|Some college/univ...|White or of Europ...|35 - 44 years old|        No|        No|The survey was an...|Somewhat easy|
|         7|  Yes|        No|  South Africa|Yes, part-time|Employed full-time|Some college/univ...|Computer science,...|10,000 or more em...|Data or business ...|       6-8 years|      0-2 years|  Slightly satisfied|Moderately satisfied|Working in a diff...|Iâ€™m not actively ...|Between 1 and 2 y...|         8|         5|         7|         1|         2|         6|         4|         3|        10|          9|              1|             10|              2|              4|              8|              3|             11|              7|              5|               9|               6|                    2|                    1|                    4|                    5|                    3|                  7|                  3|                  6|                  2|                  1|                  4|                  5|My job status or ...|South African ran...|260000|    Yearly|          21426|           ZAR|Office / producti...|Three to six months|Taken a part-time...|The official docu...|               NA|                  NA|Strongly agree|         Agree|   Strongly disagree|C;C++;Java;Matlab...|  Assembly;C;C++;Ma...|SQL Server;Postgr...|  PostgreSQL;Oracle...|Arduino;Windows D...|  Arduino;Windows D...|                 NA|                     NA|Notepad++;Visual ...|        Windows|             2|Evidence-based so...|Zip file back-ups|Weekly or a few t...|       No|              NA|                  NA|      Somewhat agree|      Somewhat agree|   Somewhat disagree|Clicked on an onl...|             2|             3|             4|             6|             1|             7|             5|Algorithms making...|Algorithms making...|The developers or...|I'm excited about...|                  No|Yes, but only wit...|Upper management ...|                Yes|      10 (Very Likely)|Daily or almost d...|                    Yes|    Less than once pe...|No, I knew that S...| No, I know what i...|                        NA|                        Yes|Extremely interested|Extremely interested|Extremely interested|Extremely interested|Extremely interested|      Before 5:00 AM|Over 12 hours|         1 - 2 hours|               Never|                  NA|3 - 4 times per week|  Male|Straight or heter...|Some college/univ...|White or of Europ...|18 - 24 years old|       Yes|        NA|The survey was an...|Somewhat easy|

### Select only data used in Data Warehouse

In [5]:
data = data.select(
    "Respondent",
    "Hobby",
    "OpenSource",
    "ConvertedSalary",
    "CommunicationTools",
    "LanguageWorkedWith",
    "OperatingSystem",
    "CompanySize",
    "Country",
)

data.show(5)

+----------+-----+----------+---------------+--------------------+--------------------+---------------+--------------------+--------------+
|Respondent|Hobby|OpenSource|ConvertedSalary|  CommunicationTools|  LanguageWorkedWith|OperatingSystem|         CompanySize|       Country|
+----------+-----+----------+---------------+--------------------+--------------------+---------------+--------------------+--------------+
|         1|  Yes|        No|             NA|               Slack|JavaScript;Python...|    Linux-based|  20 to 99 employees|         Kenya|
|         3|  Yes|       Yes|          70841|Confluence;Office...|JavaScript;Python...|    Linux-based|10,000 or more em...|United Kingdom|
|         4|  Yes|       Yes|             NA|                  NA|                  NA|             NA|  20 to 99 employees| United States|
|         5|   No|        No|             NA|                  NA|C#;JavaScript;SQL...|        Windows|100 to 499 employees| United States|
|         7|  Yes|        No|          21426|Office / producti...|C;C++;Java;Matlab...|        Windows|10,000 or more em...|  South Africa|
+----------+-----+----------+---------------+--------------------+--------------------+---------------+--------------------+--------------+
only showing top 5 rows

## ðŸ¥ˆ Silver Layer

### Replace Na to None

In [6]:
data = data.replace("NA", None)

### Add id column

In [34]:
data = data.withColumn("id", F.col("Respondent"))
data.show(5)

+----------+-----+----------+---------------+--------------------+--------------------+---------------+--------------------+--------------+---+
|Respondent|Hobby|OpenSource|ConvertedSalary|  CommunicationTools|  LanguageWorkedWith|OperatingSystem|         CompanySize|       Country| id|
+----------+-----+----------+---------------+--------------------+--------------------+---------------+--------------------+--------------+---+
|         1|  Yes|        No|           NULL|               Slack|JavaScript;Python...|    Linux-based|  20 to 99 employees|         Kenya|  1|
|         3|  Yes|       Yes|          70841|Confluence;Office...|JavaScript;Python...|    Linux-based|10,000 or more em...|United Kingdom|  3|
|         4|  Yes|       Yes|           NULL|                NULL|                NULL|           NULL|  20 to 99 employees| United States|  4|
|         5|   No|        No|           NULL|                NULL|C#;JavaScript;SQL...|        Windows|100 to 499 employees| United States|  5|
|         7|  Yes|        No|          21426|Office / producti...|C;C++;Java;Matlab...|        Windows|10,000 or more em...|  South Africa|  7|
+----------+-----+----------+---------------+--------------------+--------------------+---------------+--------------------+--------------+---+
only showing top 5 rows

### Change respondent name as described in the challenge.

In [35]:
@F.udf(returnType=T.StringType())
def _add_name_prefix(x):
    return f"respondent_{x}"


data = data.withColumn("name", _add_name_prefix(F.col("Respondent"))).drop(
    "Respondent"
)
data.show(5)

+-----+----------+---------------+--------------------+--------------------+---------------+--------------------+--------------+---+------------+
|Hobby|OpenSource|ConvertedSalary|  CommunicationTools|  LanguageWorkedWith|OperatingSystem|         CompanySize|       Country| id|        name|
+-----+----------+---------------+--------------------+--------------------+---------------+--------------------+--------------+---+------------+
|  Yes|        No|           NULL|               Slack|JavaScript;Python...|    Linux-based|  20 to 99 employees|         Kenya|  1|respondent_1|
|  Yes|       Yes|          70841|Confluence;Office...|JavaScript;Python...|    Linux-based|10,000 or more em...|United Kingdom|  3|respondent_3|
|  Yes|       Yes|           NULL|                NULL|                NULL|           NULL|  20 to 99 employees| United States|  4|respondent_4|
|   No|        No|           NULL|                NULL|C#;JavaScript;SQL...|        Windows|100 to 499 employees| United States|  5|respondent_5|
|  Yes|        No|          21426|Office / producti...|C;C++;Java;Matlab...|        Windows|10,000 or more em...|  South Africa|  7|respondent_7|
+-----+----------+---------------+--------------------+--------------------+---------------+--------------------+--------------+---+------------+
only showing top 5 rows

### Insert data in operation_system

In [36]:
operating_system = (
    data.select(F.col("OperatingSystem").alias("name")).distinct().dropna()
)

save_on_database(operating_system, "operation_system")

### Insert data in country

In [37]:
country = data.select(F.col("Country").alias("name")).distinct().dropna()

save_on_database(country, "country")

### Insert data in company

In [38]:
company = data.select(F.col("CompanySize").alias("size")).distinct().dropna()
save_on_database(company, "company")

## Insert data in respondent

#### Create function to reference id from database & replace value

In [39]:
def get_reference_from_database(
    spark_session: SparkSession, table_name: str
) -> dict[str, int]:
    try:
        df: DataFrame = get_from_database(spark_session, table_name)
    except Exception:
        print("Connection Error")

    return {v: k for k, v in dict(df.collect()).items()}


def replace_value(x, to_replace: dict):
    return to_replace.get(x, T.NullType())

### create column company_id

In [40]:
company_db = get_reference_from_database(spark, "company")


@F.udf(returnType=T.IntegerType())
def company_replace_udf(x):
    return replace_value(x, company_db)


data = data.withColumn(
    "company_id", company_replace_udf(F.col("CompanySize"))
).drop("CompanySize")
data.show(5)

+-----+----------+---------------+--------------------+--------------------+---------------+--------------+---+------------+----------+
|Hobby|OpenSource|ConvertedSalary|  CommunicationTools|  LanguageWorkedWith|OperatingSystem|       Country| id|        name|company_id|
+-----+----------+---------------+--------------------+--------------------+---------------+--------------+---+------------+----------+
|  Yes|        No|           NULL|               Slack|JavaScript;Python...|    Linux-based|         Kenya|  1|respondent_1|         5|
|  Yes|       Yes|          70841|Confluence;Office...|JavaScript;Python...|    Linux-based|United Kingdom|  3|respondent_3|         7|
|  Yes|       Yes|           NULL|                NULL|                NULL|           NULL| United States|  4|respondent_4|         5|
|   No|        No|           NULL|                NULL|C#;JavaScript;SQL...|        Windows| United States|  5|respondent_5|         2|
|  Yes|        No|          21426|Office / producti...|C;C++;Java;Matlab...|        Windows|  South Africa|  7|respondent_7|         7|
+-----+----------+---------------+--------------------+--------------------+---------------+--------------+---+------------+----------+
only showing top 5 rows

#### create column operation_system_id

In [41]:
os_db = get_reference_from_database(spark, "operation_system")


@F.udf(returnType=T.IntegerType())
def os_replace_udf(x):
    return replace_value(x, os_db)


data = data.withColumn(
    "operation_system_id", os_replace_udf(F.col("OperatingSystem"))
).drop("OperatingSystem")
data.show(5)

+-----+----------+---------------+--------------------+--------------------+--------------+---+------------+----------+-------------------+
|Hobby|OpenSource|ConvertedSalary|  CommunicationTools|  LanguageWorkedWith|       Country| id|        name|company_id|operation_system_id|
+-----+----------+---------------+--------------------+--------------------+--------------+---+------------+----------+-------------------+
|  Yes|        No|           NULL|               Slack|JavaScript;Python...|         Kenya|  1|respondent_1|         5|                  1|
|  Yes|       Yes|          70841|Confluence;Office...|JavaScript;Python...|United Kingdom|  3|respondent_3|         7|                  1|
|  Yes|       Yes|           NULL|                NULL|                NULL| United States|  4|respondent_4|         5|               NULL|
|   No|        No|           NULL|                NULL|C#;JavaScript;SQL...| United States|  5|respondent_5|         2|                  4|
|  Yes|        No|          21426|Office / producti...|C;C++;Java;Matlab...|  South Africa|  7|respondent_7|         7|                  4|
+-----+----------+---------------+--------------------+--------------------+--------------+---+------------+----------+-------------------+
only showing top 5 rows

#### create column country_id

In [42]:
country_db = get_reference_from_database(spark, "country")


@F.udf(returnType=T.IntegerType())
def country_replace_udf(x):
    return replace_value(x, country_db)


data = data.withColumn(
    "country_id", country_replace_udf(F.col("Country"))
).drop("Country")

data.show(5)

+-----+----------+---------------+--------------------+--------------------+---+------------+----------+-------------------+----------+
|Hobby|OpenSource|ConvertedSalary|  CommunicationTools|  LanguageWorkedWith| id|        name|company_id|operation_system_id|country_id|
+-----+----------+---------------+--------------------+--------------------+---+------------+----------+-------------------+----------+
|  Yes|        No|           NULL|               Slack|JavaScript;Python...|  1|respondent_1|         5|                  1|        97|
|  Yes|       Yes|          70841|Confluence;Office...|JavaScript;Python...|  3|respondent_3|         7|                  1|       127|
|  Yes|       Yes|           NULL|                NULL|                NULL|  4|respondent_4|         5|               NULL|        38|
|   No|        No|           NULL|                NULL|C#;JavaScript;SQL...|  5|respondent_5|         2|                  4|        38|
|  Yes|        No|          21426|Office / producti...|C;C++;Java;Matlab...|  7|respondent_7|         7|                  4|       121|
+-----+----------+---------------+--------------------+--------------------+---+------------+----------+-------------------+----------+
only showing top 5 rows

### Change ConvertedSalary to Decimal and transform null to 0.0

In [43]:
data = data.withColumn(
    "ConvertedSalary", data["ConvertedSalary"].cast(T.DoubleType())
).fillna(0.0, subset="ConvertedSalary")
data.show()

+-----+----------+---------------+--------------------+--------------------+---+-------------+----------+-------------------+----------+
|Hobby|OpenSource|ConvertedSalary|  CommunicationTools|  LanguageWorkedWith| id|         name|company_id|operation_system_id|country_id|
+-----+----------+---------------+--------------------+--------------------+---+-------------+----------+-------------------+----------+
|  Yes|        No|            0.0|               Slack|JavaScript;Python...|  1| respondent_1|         5|                  1|        97|
|  Yes|       Yes|        70841.0|Confluence;Office...|JavaScript;Python...|  3| respondent_3|         7|                  1|       127|
|  Yes|       Yes|            0.0|                NULL|                NULL|  4| respondent_4|         5|               NULL|        38|
|   No|        No|            0.0|                NULL|C#;JavaScript;SQL...|  5| respondent_5|         2|                  4|        38|
|  Yes|        No|        21426.0|Office / producti...|C;C++;Java;Matlab...|  7| respondent_7|         7|                  4|       121|
|  Yes|        No|        41671.0|Confluence;Jira;O...|Java;JavaScript;P...|  8| respondent_8|         8|                  1|       127|
|  Yes|       Yes|       120000.0|Confluence;Office...| JavaScript;HTML;CSS|  9| respondent_9|         7|                  3|        38|
|  Yes|       Yes|            0.0|Facebook;Google H...|JavaScript;TypeSc...| 10|respondent_10|         8|                  4|        50|
|  Yes|       Yes|       250000.0|Confluence;HipCha...|Assembly;CoffeeSc...| 11|respondent_11|         2|                  3|        38|
|   No|       Yes|            0.0|                NULL|                NULL| 16|respondent_16|         6|               NULL|        39|
|  Yes|        No|            0.0|                NULL|                NULL| 17|respondent_17|         4|               NULL|        55|
|  Yes|       Yes|            0.0|                NULL|                NULL| 18|respondent_18|         2|               NULL|        39|
|  Yes|        No|            0.0|                NULL|                NULL| 19|respondent_19|         5|               NULL|        48|
|   No|        No|            0.0|                NULL|                Java| 20|respondent_20|         5|                  1|        39|
|   No|        No|            0.0|                NULL|Java;JavaScript;P...| 21|respondent_21|         5|                  4|       129|
|  Yes|        No|            0.0|                NULL|                NULL| 22|respondent_22|         3|               NULL|        67|
|   No|        No|            0.0|                NULL|                NULL| 26|respondent_26|         4|               NULL|        38|
|  Yes|        No|        47904.0|     Confluence;Jira|C#;SQL;HTML;CSS;B...| 27|respondent_27|         8|                  4|         4|
|  Yes|       Yes|            0.0|                NULL|            C;C++;C#| 29|respondent_29|         7|                  4|        39|
|  Yes|       Yes|            0.0|                NULL|                NULL| 31|respondent_31|         1|               NULL|        46|
+-----+----------+---------------+--------------------+--------------------+---+-------------+----------+-------------------+----------+
only showing top 20 rows

#### Transform salary

In [44]:
@F.udf(returnType=T.DoubleType())
def convert_salary(x):
    return round((x / settings.YEAR_MONTHS) * settings.DOLLAR_EXCHANGE, 2)


data = data.withColumn(
    "salary", convert_salary(F.col("ConvertedSalary"))
).drop("ConvertedSalary")
data.show(5)

+-----+----------+--------------------+--------------------+---+------------+----------+-------------------+----------+--------+
|Hobby|OpenSource|  CommunicationTools|  LanguageWorkedWith| id|        name|company_id|operation_system_id|country_id|  salary|
+-----+----------+--------------------+--------------------+---+------------+----------+-------------------+----------+--------+
|  Yes|        No|               Slack|JavaScript;Python...|  1|respondent_1|         5|                  1|        97|     0.0|
|  Yes|       Yes|Confluence;Office...|JavaScript;Python...|  3|respondent_3|         7|                  1|       127|22492.02|
|  Yes|       Yes|                NULL|                NULL|  4|respondent_4|         5|               NULL|        38|     0.0|
|   No|        No|                NULL|C#;JavaScript;SQL...|  5|respondent_5|         2|                  4|        38|     0.0|
|  Yes|        No|Office / producti...|C;C++;Java;Matlab...|  7|respondent_7|         7|                  4|       121| 6802.76|
+-----+----------+--------------------+--------------------+---+------------+----------+-------------------+----------+--------+
only showing top 5 rows

#### create respondent table

In [45]:
respondent = (
    data.select(
        "id",
        "name",
        "OpenSource",
        "Hobby",
        "salary",
        "operation_system_id",
        "country_id",
        "company_id",
    )
    .withColumns(
        {
            "open_source": F.col("OpenSource").cast(T.BooleanType()),
            "hobby": F.col("Hobby").cast(T.BooleanType()),
        }
    )
    .drop("OpenSource")
)
respondent.show(5)

+---+------------+-----+--------+-------------------+----------+----------+-----------+
| id|        name|hobby|  salary|operation_system_id|country_id|company_id|open_source|
+---+------------+-----+--------+-------------------+----------+----------+-----------+
|  1|respondent_1| true|     0.0|                  1|        97|         5|      false|
|  3|respondent_3| true|22492.02|                  1|       127|         7|       true|
|  4|respondent_4| true|     0.0|               NULL|        38|         5|       true|
|  5|respondent_5|false|     0.0|                  4|        38|         2|      false|
|  7|respondent_7| true| 6802.76|                  4|       121|         7|      false|
+---+------------+-----+--------+-------------------+----------+----------+-----------+
only showing top 5 rows

#### Insert data in respondent

In [46]:
save_on_database(respondent, "respondent")

### Create function to separate values in CommunicationTools and LanguageWorkedWith

In [47]:
def sep_col_values(df: DataFrame, col: str, sep: str = ";") -> DataFrame:

    col_separated = (
        data.select((F.split(col, sep))).rdd.flatMap(lambda x: x).collect()
    )

    col_separated = set(
        [
            item
            for sublist in col_separated
            if sublist is not None
            for item in sublist
        ]
    )

    return spark.createDataFrame(
        col_separated,
        schema=T.StringType(),
    ).withColumnRenamed("value", "name")

### Insert data in programming_language

In [48]:
programming_language = sep_col_values(data, "LanguageWorkedWith")
save_on_database(programming_language, "programming_language")
programming_language.show(5)

+------+
|  name|
+------+
|   SQL|
|   C++|
|VB.NET|
| Cobol|
|    C#|
+------+
only showing top 5 rows

### Insert data in communications_tools

In [49]:
communications_tools = sep_col_values(data, "CommunicationTools")
save_on_database(communications_tools, "communications_tools")
communications_tools.show(5)

+--------------------+
|                name|
+--------------------+
|               Slack|
|              Trello|
|Other wiki tool (...|
|            Facebook|
|Other chat system...|
+--------------------+
only showing top 5 rows

### Create function to separate every language in row

In [50]:
def col_list_to_df(df: DataFrame, col: str, sep: str = ";") -> DataFrame:

    data_rdd = df.select("id", F.split(col, ";")).dropna().rdd.collect()

    data_list = [list(zip([b] * len(c), c)) for b, c in data_rdd]

    split_data = [y for x in data_list for y in x]

    return spark.createDataFrame(
        split_data,
        T.StructType(
            [
                T.StructField("respondent_id", T.LongType()),
                T.StructField("name", T.StringType()),
            ]
        ),
    )

#### Create dataframe resp_programming_language

In [51]:
programming_language_ref = get_reference_from_database(
    spark, "programming_language"
)

resp_programming_language = col_list_to_df(data, "LanguageWorkedWith")


@F.udf(returnType=T.IntegerType())
def programming_replace_udf(x):
    return replace_value(x, programming_language_ref)


resp_programming_language = resp_programming_language.withColumn(
    "programming_language_id", programming_replace_udf(F.col("name"))
).drop("name")

resp_programming_language.show(5)

+-------------+-----------------------+
|respondent_id|programming_language_id|
+-------------+-----------------------+
|            1|                     14|
|            1|                     15|
|            1|                      7|
|            1|                     16|
|            3|                     14|
+-------------+-----------------------+
only showing top 5 rows

#### Create dataframe resp_tools

In [52]:
communications_tools_ref = get_reference_from_database(
    spark, "communications_tools"
)

resp_tools = col_list_to_df(data, "CommunicationTools")


@F.udf(returnType=T.IntegerType())
def communication_replace_udf(x):
    return replace_value(x, communications_tools_ref)


resp_tools = resp_tools.withColumn(
    "communications_tools_id", communication_replace_udf(F.col("name"))
).drop("name")

resp_tools.show(5)

+-------------+-----------------------+
|respondent_id|communications_tools_id|
+-------------+-----------------------+
|            1|                      6|
|            3|                      1|
|            3|                      8|
|            3|                      6|
|            3|                      3|
+-------------+-----------------------+
only showing top 5 rows

### Insert data in resp_programming_language

In [53]:
save_on_database(resp_programming_language, "resp_programming_language")

### Insert data in resp_tools

In [54]:
save_on_database(resp_tools, "resp_tools")